$bg-color: #051c2c;
$primary-font: "Roboto",
sans-serif;
$black:#000000;
$white: #fff;
$light-gray:#C4C4C4;
$drak-gray:#2A2A2A;
$btn-border:#2B2B2B;
$btn-br-primary:#D0D0D0;
$bg-d9:#D9D9D9;
$d3-clr:#D3D3D3;
$light-blue:#0D37D6;
$e1-clr: #E1E1E1;
$f7-clr: #F7F7F7;
$e6-clr:#E6E6E6;
$bl47-clr:#474747;
$light-black:#333;
$selectd:#2251FF;
$selectd-lt:#3760f6;
$selectd-hdr:#0028BD;
$selectd-hdr-lt:#1237c2;
$input-bor:#8B8B8B;
$lt-blue:#66afe9;
$plc-clr:#CBCBCB;
$f6-clr:#F6F6F6;
$f3-clr:#F3F3F3;
$ee-clr:#eeeeee;
$ff52-clr:#3152FF;
$red:#ff0000;
$fd-47:#476efd;
$bl-39:#393939;
$sky-clr:#00A9F4;
$sky-light:#AAE6F0;
$light-bdr:#E8E8E8;
$c3-clr:#3C3C3F;
$c1-clr:#1C2238;
$c1rgba-clr:rgba(28, 34, 56, 0.70);
$e6-clr:#E6EBF1;
$d6-clr:#D6D6D6;
$ef-clr:#EFEFEF;
$balck-50:rgba(0, 0, 0, 0.50);
$f5-clr:#F5F5F5;
$light-acent:rgba(112, 112, 112, 0.05);
$ed-clr:#EDEDED;
$lightblack:#333333;
$f-clr:#fcfcfc;
$blue-acent:#027AB1;
$fe-clr:#fefefe;
$light-gr:#F0F0F0;
$clr48:#484848;